<div class="row">
    <div class="col-lg-offset-4 col-lg-4">
        <h3>Answer friend request</h3>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{errorMessage}}
        </div>
        <div>
            <h4>Request received from <span style="font-weight: bold; font-style: italic;">{{request.UserName}}</span></h4>
            <p>Question: <span style="font-weight: bold; font-style: italic;">{{request.Question}}</span></p>

            <form [ngFormModel]="answerForm" (submit)="doAnswer()">
                <div class="form-group">
                    <label>Secret answer</label>
                    <input class="form-control" type="text" ngControl="answer" />
                </div>
                <input type="submit" [disabled]="processing" Value="Answer friend request" class="btn btn-primary" />
                <img *ngIf="processing" alt="Loading.." src="/img/loading-small.gif" class="pull-right" style="padding-top: 6px;" />
            </form>
        </div>
    </div>
</div>