<div class="row">
    <div class="col-lg-offset-4 col-lg-4">
        <h3>Create friend request</h3>
        <form [ngFormModel]="requestForm" (submit)="doRequest()">
            <div *ngIf="successMessage" class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Reason:</span>
                {{successMessage}}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{errorMessage}}
            </div>
            <div class="form-group">
                <label>Friends username</label>
                <input class="form-control" type="text" ngControl="userName"/>
            </div>
            <div class="form-group">
                <label>Question</label>
                <input class="form-control" type="text" ngControl="question"/>
            </div>
            <div class="form-group">
                <label>Secret answer</label>
                <input class="form-control" type="text" ngControl="answer"/>
            </div>
            <input type="submit" [disabled]="processing" Value="Send friend request" class="btn btn-primary"/>
            <img *ngIf="processing" alt="Loading.." src="/img/loading-small.gif" class="pull-right" style="padding-top: 6px;"/>
        </form>
    </div>
</div>