<div class="row">
    <div class="col-lg-offset-4 col-lg-4">
        <h3>Friend requests</h3>
        <button class="btn btn-info" [routerLink]="['Request']">Create friend request</button>
        <h4 style="margin-top: 40px;">Incoming requests</h4>
        <table style="width: 100%;">
            <thead>
            <tr>
                <th>Origin</th>
                <th>Question</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="#reqItem of requests">
                    <td>{{reqItem.UserName}}</td>
                    <td>{{reqItem.Question}}</td>
                    <td><button [routerLink]="['Answer', { id: reqItem.RequestId }]" class="btn btn-info btn-xs">Answer</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>